@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Ticketing System</h1>
    <p class="lead">Welcome to the SWEET Project! Be prepared to see a sweet website! (Or not if that's what you think.)</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>First Impressions</h2>
        <p>
            What you'll think when first looking at this sweet website.
        </p>
        <p><a class="btn btn-default" href="http://s2.quickmeme.com/img/2d/2db85a78ccdbcb45bd122315533ec8f0aec40ccd1b9b420fb9362d777ac2d28a.jpg">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>If (Mind == Blown)</h2>
        <p>What your mind will be doing when browsing this sweet website.</p>
        <p><a class="btn btn-default" href="http://i2.kym-cdn.com/photos/images/newsfeed/000/288/648/776.gif">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>...Or what will actually happen.</h2>
        <p>This will probably be the correct reaction.</p>
        <p><a class="btn btn-default" href="https://imgflip.com/s/meme/Captain-Picard-Facepalm.jpg">Learn more &raquo;</a></p>
    </div>
</div>